// 0

.custom-header-img{
    height:4rem!important;
}

.custom-logo {
    right:10px;
}

.nav-wrap {
    background-color: #379BC9;
}

.vl {
    border-left:6px solid black;
    height:10px;
}








