{% extends "base.html" %}
{% block imports %}
{% endblock %}
{% block content %}
    <div class="section container">
        <div class="row`">
            <div class="col">
                <ul class="tabs custom-tabs">
                    <li class="tab col"><a href="#query">Query</a></li>
                    <li class="tab col"><a href="#about">About</a></li>
                </ul>
            </div>

        </div>
        <div id='query'>
            <div class="row custom-row">
                <form id="basic_form" action="" method="post">
                    <fieldset>
                    </fieldset>
                </form>
            </div>
            <div class="row">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Options</div>
                        <div class="collapsible-body">
                            <form id="option_form" class="option-form">
                                <div class="input-field">
                                    <select multiple name="column_select" id="column_select">
                                        <option selected value="display_name">Display Name</option>
                                        <option selected value="party_name">Party Name</option>
                                        <option selected value="speech_text">Speech Text</option>
                                        <option selected value="speech_date">Speech Date</option>
                                        <option selected value="state_name">State</option>
                                        <option selected value="district_number">District</option>

                                    </select>
                                    <label for="column_select">Columns</label>
                                </div>
                                <label>
                                    <input id='display_query_checkbox' type='checkbox'/>
                                    <span>Display SQL Query?</span>
                                </label>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Advanced</div>
                        <div class="collapsible-body">

                            <form id="advance_form" class="advance-form">

                                <fieldset class="advance-query-fieldset" id="advance_query_fieldset">
                                    <div class="row">
                                        <div class="input-field col s12 m3 l2">
                                            <select name="logic_operator" id="logic_operator">
                                                <option value="AND">AND</option>
                                                <option value="OR">OR</option>
                                            </select>
                                            <label for="logic_operator">Logic Operator</label>
                                        </div>
                                        <div class="input-field col s12 m3 l3  " id="field_div">
                                            <select name="field" id="field" onchange="ChangeValueField(this)">
                                                <option value="district_number">district</option>
                                                <option value="display_name">full_name</option>
                                                <option value="state_id">state</option>
                                                <option value="party_id">party</option>
                                                <option value="word_count">word_count</option>
                                            </select>
                                            <label for="field">Field</label>
                                        </div>
                                        <div class="input-field col s12 m3 l2" id="conditional_div">
                                            <select id="conditional" name="conditional">
                                                <option value="=">=</option>
                                                <option value="!=">!=</option>
                                            </select>
                                            <label for="conditional">Conditional</label>
                                        </div>
                                        <div class="input-field col s12 m3 l5" id="value_div">
                                            <input type="text" name="value" id="value"/>
                                            <label for="value">Value</label>
                                        </div>
                                    </div>

                                    <div class="row right">

                                        <button type='button' class="btn-floating btn-small left remove-button"
                                                style="display:none;">-
                                        </button>
                                        <button type="button" class="btn-floating btn-small add-button">+
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn" type="button" onclick="Query()">Query</button>
                </div>
                <div class="col">
                    <button class="btn reset-button" type="button">Reset</button>
                </div>
                <div class="col" id='download'>
                    <button class="btn disabled" type="button">Download</button>
                </div>

                <div class="col">
                    <div class="query-spinner">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col" id="results-found">
                    <p></p>

                </div>
                <div class="col right custom-issue">
                    <p> &#128681 Spotted an issue? Please send us a <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSckHcip8EiQRhMo_WTnIT0C8xtNfqSXK15Chce_CN9rGKEv7w/viewform">message</a>.
                    </p>
                </div>

            </div>
            <div class="row">
                <h5>Sample Results:</h5>
                <div class="container custom-table-div">
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row" id="after_query_message">
                <p></p>
            </div>
        </div>
        <div id="about">
            <div class="row about-font">
                <div class="col">
                    <div class="card">
                        <div class="card-content">
                            Research Ready Archives is a project of Goodly Labs, which has converted the static,
                            difficult-to-research Congressional Record and Hearings Transcripts into a well-organized,
                            easy-to-query
                            database linking floor speeches and committee hearing minutes to data describing Members of
                            Congress and
                            their constituencies.<br><br>
                            After many hundreds of hours of volunteer effort and modest support from the Social Science
                            Research
                            Council, Research Ready is now enabling a wave of inquiry into Congressional Members’
                            utterances on
                            Capitol Hill. With this open resource, researchers, journalists, and the public are now able
                            to easily
                            ask and answer powerful questions revealing the dynamics of Congress Members’ interactions,
                            shifting
                            legislative priorities, the interplay between electoral and governing incentives, the
                            difference between
                            what political actors say and do… and much more.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}